a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: darksalmon;
}
nav {
    background-color: linen;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
nav ul li {
    float: left;
    border-right: 1px solid salmon;
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    display: block;
    padding: 1em 2em;
}
main article section h3 {
    text-shadow: 4px 4px 6px lightsalmon;
}
aside {
    position: fixed;
    top: 80%;
    right: .5em;
    background-color: linen;
    z-index: 2;
}
aside a {
    display: block;
    padding: .5em;
}
main {
    margin-bottom: 3em;
}
h4 {
    padding: 2em 0;
    letter-spacing: 1px;
    font-size: larger;
}
th, td {
    padding: 1em;
}
code {
    font-size: larger;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5em;
    color: linen;
    text-align: center;
    background-color: lightsalmon;
    z-index: 1;
}
@media screen and (max-width:800px) {
    nav ul li {
        float: none;
        border-right: none;
        border-bottom: 1px solid salmon;
    }
}